{% extends "layout.html" %}
{% set active_page = active_page|default('meters') -%}
{% block title %}Energy Usage - {{meter_name}}{% endblock %}

{% block container %}

<h1 class="page-header">Energy Usage <small>{{meter_name}}</small></h1>

<div class="card">
    <div class="card-body">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link active" href="{{ url_for('usage_all', meter_id=meter_id) }}" role="button">Year</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('usage_month', meter_id=meter_id) }}" role="button">Month</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('usage_day', meter_id=meter_id) }}" role="button">Day</a>
            </li>

            <li class="nav-item">
                <a class="btn btn-light {% if not period_nav.prev_enabled %}disabled{% endif %}" href="{{ url_for('usage_fy', meter_id=meter_id, report_date=period_nav.prev_date) }}"
                    role="button">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                </a>

                <strong>{{ fin_year }}&nbsp;&nbsp;</strong>
            </li>

            <a class="btn btn-light {% if not period_nav.next_enabled %}disabled{% endif %}" href="{{ url_for('usage_fy', meter_id=meter_id, report_date=period_nav.next_date) }}"
                role="button">
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </a>
            </li>


        </ul>


    </div><!-- /card-body-->
</div><!-- /card-->



</div><!-- /card-deck-->


{% endblock container%}