{% extends "layout.html" %}
{% set active_page = active_page|default('billing') -%}
{% block title %}Energy Usage{% endblock %}
{% block container %}
<h1 class="page-header">Energy Usage <small>{{meter_name}}</small></h1>


<div class="card">
    <div class="card-block">

      <ul class="nav nav-pills">
      <li class="nav-item">
          <a class="btn btn-secondary nav-link"
          href="{{ url_for('usage_month', meter_id=meter_id) }}" role="button">Month</a>
      </li>
      <li class="nav-item">
          <a class="btn btn-secondary nav-link active"
          href="{{ url_for('billing', meter_id=meter_id) }}" role="button">All</a>
      </li>
    </ul><!-- /nav-pills-->

    </div><!-- /card-block-->
  <div class="card-block">
      <div class="chart-container">
        <img id="chart-loading" src="{{ url_for('static', filename='img/loading_icon.gif') }}" style="position: absolute; visibility:visible"/>
        <div id="daily_energy" class="chart-placeholder" style="max-width: 100%; height: 150px;"></div>
      </div>
  </div><!-- /card-block-->

</div><!-- /card-->




<div class="card card-block">
        <h3>Tariff Comparison</h3>
        <table id="all_bills" class="table table-striped">
        <thead>
        <tr>
            <th>Billing Month</th>
            <th>General Supply</th>
            <th>Time of Use</th>
            <th>Time of Use (Demand)</th>
        </tr>
        </thead>
        </table>
    </div><!-- /card-->

{% for month_start, month_desc in billing_months %}
<script>

    $.getJSON("{{ url_for('monthly_bill', meter_id=meter_id, report_date=month_start) }}", function(json) {
        month_desc = json.month
        price_t11 = Math.round(json.t11.total_charges.cost_incl_gst)/100
        price_t12 = Math.round(json.t12.total_charges.cost_incl_gst)/100
        price_t14 = Math.round(json.t14.total_charges.cost_incl_gst)/100
        row_data = '<tr><td>' + month_desc + '</td><td>' + price_t11 + '</td><td>' + price_t12 + '</td><td>' +  price_t14 + '</td></tr>'
        console.log(row_data)

        var tableRef = document.getElementById('all_bills');
        $(tableRef).append(row_data);
    });


</script>
{% endfor %}




<!-- Flot code - load json into chart div-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.time.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.stack.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.selection.min.js"></script>




<script language="javascript" type="text/javascript">
$(document).ready(function(){
    function weekendAreas(axes) {

            var markings = [],
                d = new Date(axes.xaxis.min);

            // go to the first Saturday

            d.setUTCDate(d.getUTCDate() - ((d.getUTCDay() + 1) % 7))
            d.setUTCSeconds(0);
            d.setUTCMinutes(0);
            d.setUTCHours(0);

            var i = d.getTime();

            // when we don't set yaxis, the rectangle automatically
            // extends to infinity upwards and downwards

            do {
                markings.push({ xaxis: { from: i, to: i + 2 * 24 * 60 * 60 * 1000 }, color: "#F3F3F3" });
                i += 7 * 24 * 60 * 60 * 1000;
            } while (i < axes.xaxis.max);

            return markings;
        }

    $.getJSON("{{ url_for('daily_data', meter_id=meter_id, start_date=start_date, end_date=end_date)|safe }}", function(json) {
       //success - data loaded, now use plot:
       var plotarea = $("#daily_energy");

       // Create plot object
       var plot = $.plot(
                //plot area
                plotarea,
                //plot data
                [
                    { data: json.consumption_offpeak,
                      bars: { show: true,
                              fill: true,
                              align: 'right',
                              barWidth: 86400000
                            },
                      label: "Off-Peak (kWh)"
                    },
                    { data: json.consumption_peak,
                      bars: { show: true,
                              fill: true,
                              align: 'right',
                              barWidth: 86400000
                            },
                      color: "#bf2f40",
                      label: "Peak (kWh)"
                    }
                ],
                // plot settings
                {
                    series: {stack: true},
                    grid: {hoverable: true,
                           clickable: true,
                           markings: weekendAreas
                          },
                    yaxis: {label: "Events"},
                    xaxis: {mode: "time",
                            minTickSize: [1, "{{ plot_settings.minTickSize }}"]
                            }
                }
       );
       // hide loading image when done plotting
       document.getElementById('chart-loading').style.visibility='hidden';
    });

    function showTooltip(x, y, contents) {
        $('<div id="tooltip">' + contents + '</div>').css( {
            position: 'absolute',
            display: 'none',
            top: y + 5,
            left: x + 5,
            border: '1px solid #fdd',
            padding: '2px',
            'background-color': '#fee',
            opacity: 0.80
        }).appendTo("body").fadeIn(200);
    }

    var previousPoint = null;
    $("#daily_energy").bind("plothover", function (event, pos, item) {
        $("#x").text(pos.x.toFixed(2));
        $("#y").text(pos.y.toFixed(2));

        if (item) {
            if (previousPoint != item.dataIndex) {
                previousPoint = item.dataIndex;

                $("#tooltip").remove();
                var x = item.datapoint[0].toFixed(2),
                    y = item.datapoint[1].toFixed(2)
                    showTooltip(item.pageX, item.pageY,
                            item.series.label + ": " + y);
            }
        }
        else {
            $("#tooltip").remove();
            previousPoint = null;
        }

    });
});

</script>


{% endblock container%}
