{% set navigation_bar = [
    ('/', 'homepage', 'Home'),
    ('/meters', 'meters', 'Meters'),
    ('/about/', 'about', 'About')
] -%}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>


    {% block head %}
    {% endblock head %}

    <title>{% block title %}{% endblock title%}</title>
</head>

<body>

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
<!-- Navbar -->

    <h5 class="my-0 mr-md-auto font-weight-normal">🔌EnergyUsage</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        {% for href, id, caption in navigation_bar %}
        <a class="p-2 text-dark" href="{{ href|e }}">{{ caption|e }}</a>
        {% endfor %}
    </nav>
    {% if current_user.is_authenticated %}
    <span class="navbar-text text-muted">
        👤 {{ current_user.username }}&nbsp; 
    </span>
    <a class="btn btn-outline-primary" href="{{ url_for('signout') }}">Logout</a>
    {% else %}
    <a class="btn btn-outline-primary" href="{{ url_for('signin') }}">Login</a>
    {% endif %}
   
</div>


<!-- Flash messages for user -->
<div class="container">
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
        {% if category in ['message','info'] %}
        <div class="alert alert-info" role="alert"><i class="fa fa-info-circle" aria-hidden="true"></i>
        {% else %}
        <div class="alert alert-{{ category }}" role="alert">
        {% endif %}
        {% if category in ['warning','danger'] %}<i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {% endif %}
        {{ message }}
        </div>
    {% endfor %}
  {% endif %}
{% endwith %}




{% block container %}
{% endblock container %}
</div><!-- /container -->

<div class="container">
<footer>
</footer>
</div><!-- /container -->




</body>
</html>

