{% extends "layout.html" %}
{% set active_page = active_page|default('meters') -%}
{% block container %}

{% if form.errors %}
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <div class="alert alert-danger" role="alert">
                    <strong>Error:</strong> {{ form[field_name].label }}: {{ error }}
                </div>
            {% endfor %}
        {% endfor %}
{% endif %}

<h1>Manage Meter #{{id}} <small>{{meter_name}}</small></h1>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('manage_meter', id=id) }}">Meter</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('manage_import', id=id) }}">Import</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="{{ url_for('manage_export', id=id) }}">Export</a>
  </li>
</ul>


<h3>Export</h3>
<p>
Download all your meter data.
</p>
<p>
<a class="btn btn-primary" href="{{ url_for('export_data') }}" role="button">
    <i class="fa fa-cloud-download" aria-hidden="true"></i>
    Download CSV
</a>
</p>


<h3>Delete Meter</h3>
<p>

<form method="POST" action="/manage_export/{{id}}">

    <button type="submit" class="btn btn-danger">
        <i class="fa fa-trash" aria-hidden="true"></i> Delete
    </button> <strong>This cannot be undone!</strong>

</form>

{% endblock %}